.panel {
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #fff;
  margin-bottom: 20px;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-heading {
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px 15px;
  color: #31708f;
}

.panel-body {
  padding: 15px;
}
/* ===== FORM LAYOUT ===== */

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

  .form-group.row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .form-group > label.control-label {
    padding-top: 7px;
    text-align: right;
    font-weight: bold;
    width: 16.6667%;
    padding-right: 15px;
    box-sizing: border-box;
  }

.control-label {
  padding-top: 7px;
  font-weight: bold;
}
/* ===== GRID SYSTEM ===== */

.bootstrap-grid-style {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-md-2 {
  width: 16.66666667%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-md-7 {
  width: 58.33333333%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-md-10 {
  width: 83.3333%;
  padding-left: 15px;
  box-sizing: border-box;
}
/* ===== FORM CONTROLS ===== */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-family: inherit;
  box-sizing: border-box;
}

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

.textArea {
  resize: none;
}



input[type="text"] {
  line-height: normal;
  margin: 0;
  padding-block: 1px;
  padding-inline: 2px;
  font: inherit;
  color: inherit;
}


.me-2 {
  margin-right: 0.5rem;
}


.create-new-link.btn-style-override {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 0;
  color: #337ab7;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

  .create-new-link.btn-style-override:hover {
    color: #23527c;
    text-decoration: underline;
  }

  .create-new-link.btn-style-override:focus {
    outline: none;
    color: #23527c;
    text-decoration: underline;
  }



.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

  .btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
  }

.btn-primary {
  background: lightgrey;
  color: black;
}

.text-danger {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
