.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-info {
  border-color: #bce8f1;
}

.custom-edit-panel {
  border-color: #337ab7;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.custom-edit-header {
  background-color: #337ab7;
  color: white;
  border-color: #2e6da4;
}

.edit-title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.panel-body {
  padding: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  .form-control:read-only {
    background-color: #eee;
    opacity: 1;
  }

.text-danger {
  color: #a94442;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

  .btn-primary:hover:not([disabled]) {
    background-color: #286090;
    border-color: #204d74;
  }

  .btn-primary[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

  .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

    .nav-tabs > li.active > a {
      color: #555;
      cursor: default;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
    }
