.panel-panel-primary {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #2b669a;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.row {
  padding: 1rem;
}

.panel-heading {
  color: #fff;
  background-color: #2b669a;
  border-color: #2b669a;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.panel-body {
  padding: 1rem;
}



ag-charts {
  display: block;
  width: 100%;
  height: 450px;
}
